/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS Reset */
body {
    overflow: hidden;
}

.container { 
    display: flex;
    overflow: hidden;
    flex-direction: row;
    background-color: #EEEDE4;
}

/* Start Row One */
.rowOne {
    flex: .35;
    height: 100vh;
    overflow: hidden;
    background: url("../assets/Wine-BG.png") no-repeat center center;
    background-size: cover;
}
/* End Row One */

/* Start Row Two */
.rowTwo {
    flex: .65;
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Start Form */
.rowTwo form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'DM Serif Text', serif;
}

.rowTwo form .userInput {
    display: flex;
    font-size: 2.25vh;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.rowTwo form .userInput .tagNumberLabel {
    width: 100%;
    display: flex;
    max-width: 235px;
    color: #EEEDE4;
    user-select: none;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid #3A4355;
    background-color: #3A4355;
}

.rowTwo form .userInput #tagNumberInput {
    width: 100%;
    height: 3.25vh;
    color: #3A4355;
    max-width: 235px;
    padding: 0px 10px;
    font-size: 1.75vh;
    border: 1px solid #3A4355;
    background-color: transparent;
    font-family: 'DM Serif Text', serif;
}

.rowTwo form .userInput #tagNumberInput:focus {
    outline: transparent;
    font-family: 'DM Serif Text', serif;
}

.rowTwo form .userInput #tagNumberInput::placeholder {
    color: #8C8C8E;
    font-family: 'DM Serif Text', serif;
}

.rowTwo form .userInput .tagNumberError {
    color: #E13636;
    font-size: 1.4vh;
    user-select: none;
    font-style: italic;
}
/* End Form */

/* End Row Two */

